@use "../../styles/colors";

.button {
  color: white;
  width: inherit;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    opacity: 0.5;
  }
}

.rounded {
  border-radius: 40px;
}

.light-btn {
  background-color: colors.$cyan;
}

.dark-btn {
  background-color: colors.$dark-violet;
}
