@use "../../styles/colors";
@use "../../styles/sizes";

.header-container {
  display: flex;
  flex-wrap: nowrap;
  padding: sizes.$container-padding;
  margin: 50px 0;

  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 auto;
    width: 50%;

    .header-title {
      font-size: 48px;
      font-weight: 700;
      line-height: 1.2em;
    }

    .header-description {
      color: colors.$gray;
    }

    .button {
      width: 35%;
      margin-top: 20px;
    }
  }
}
