@use "../../styles/colors";
@use "../../styles/sizes";

.header-container {
  display: flex;
  flex-wrap: nowrap;
  padding: sizes.$container-desktop-padding;
  margin: 50px 0;

  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 auto;
    width: 50%;

    .header-title {
      font-size: 38px;
      font-weight: 700;
      line-height: 1.2em;
    }

    .header-description {
      color: colors.$gray;
    }

    .button {
      width: 35%;
      margin-top: 20px;
    }
  }

  @media screen and (max-width: 725px) {
    flex-direction: column-reverse;
    padding: 0 10% 20% 10%;

    .header-content {
      text-align: center;
      align-items: center;
      width: auto;
    }
  }
}
